/* font-face */
@font-face {
  font-family: "AccessibilityFoundicons";
  src: url("../fonts/accessibility_foundicons.eot");
  src: url("../fonts/accessibility_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/accessibility_foundicons.woff") format("woff"), url("../fonts/accessibility_foundicons.ttf") format("truetype"), url("../fonts/accessibility_foundicons.svg#AccessibilityFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundiconaccess-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundiconaccess-"]:before {
  font-family: "AccessibilityFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundiconaccess-wheelchair:before {
  content: "\f000";
}

.foundiconaccess-speaker:before {
  content: "\f001";
}

.foundiconaccess-fontsize:before {
  content: "\f002";
}

.foundiconaccess-eject:before {
  content: "\f003";
}

.foundiconaccess-view-mode:before {
  content: "\f004";
}

.foundiconaccess-eyeball:before {
  content: "\f005";
}

.foundiconaccess-asl:before {
  content: "\f006";
}

.foundiconaccess-person:before {
  content: "\f007";
}

.foundiconaccess-question:before {
  content: "\f008";
}

.foundiconaccess-adult:before {
  content: "\f009";
}

.foundiconaccess-child:before {
  content: "\f00a";
}

.foundiconaccess-glasses:before {
  content: "\f00b";
}

.foundiconaccess-cc:before {
  content: "\f00c";
}

.foundiconaccess-blind:before {
  content: "\f00d";
}

.foundiconaccess-braille:before {
  content: "\f00e";
}

.foundiconaccess-iphone-home:before {
  content: "\f00f";
}

.foundiconaccess-w3c:before {
  content: "\f010";
}

.foundiconaccess-css:before {
  content: "\f011";
}

.foundiconaccess-key:before {
  content: "\f012";
}

.foundiconaccess-hearing-impaired:before {
  content: "\f013";
}

.foundiconaccess-male:before {
  content: "\f014";
}

.foundiconaccess-female:before {
  content: "\f015";
}

.foundiconaccess-network:before {
  content: "\f016";
}

.foundiconaccess-guidedog:before {
  content: "\f017";
}

.foundiconaccess-universal-access:before {
  content: "\f018";
}

.foundiconaccess-elevator:before {
  content: "\f019";
}
