/* font-face */
@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicongenclose-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicongenclose-"]:before {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicongenclose-settings:before {
  content: "\f000";
}

.foundicongenclose-heart:before {
  content: "\f001";
}

.foundicongenclose-star:before {
  content: "\f002";
}

.foundicongenclose-plus:before {
  content: "\f003";
}

.foundicongenclose-minus:before {
  content: "\f004";
}

.foundicongenclose-checkmark:before {
  content: "\f005";
}

.foundicongenclose-remove:before {
  content: "\f006";
}

.foundicongenclose-mail:before {
  content: "\f007";
}

.foundicongenclose-calendar:before {
  content: "\f008";
}

.foundicongenclose-page:before {
  content: "\f009";
}

.foundicongenclose-tools:before {
  content: "\f00a";
}

.foundicongenclose-globe:before {
  content: "\f00b";
}

.foundicongenclose-home:before {
  content: "\f00c";
}

.foundicongenclose-quote:before {
  content: "\f00d";
}

.foundicongenclose-people:before {
  content: "\f00e";
}

.foundicongenclose-monitor:before {
  content: "\f00f";
}

.foundicongenclose-laptop:before {
  content: "\f010";
}

.foundicongenclose-phone:before {
  content: "\f011";
}

.foundicongenclose-cloud:before {
  content: "\f012";
}

.foundicongenclose-error:before {
  content: "\f013";
}

.foundicongenclose-right-arrow:before {
  content: "\f014";
}

.foundicongenclose-left-arrow:before {
  content: "\f015";
}

.foundicongenclose-up-arrow:before {
  content: "\f016";
}

.foundicongenclose-down-arrow:before {
  content: "\f017";
}

.foundicongenclose-trash:before {
  content: "\f018";
}

.foundicongenclose-add-doc:before {
  content: "\f019";
}

.foundicongenclose-edit:before {
  content: "\f01a";
}

.foundicongenclose-lock:before {
  content: "\f01b";
}

.foundicongenclose-unlock:before {
  content: "\f01c";
}

.foundicongenclose-refresh:before {
  content: "\f01d";
}

.foundicongenclose-paper-clip:before {
  content: "\f01e";
}

.foundicongenclose-video:before {
  content: "\f01f";
}

.foundicongenclose-photo:before {
  content: "\f020";
}

.foundicongenclose-graph:before {
  content: "\f021";
}

.foundicongenclose-idea:before {
  content: "\f022";
}

.foundicongenclose-mic:before {
  content: "\f023";
}

.foundicongenclose-cart:before {
  content: "\f024";
}

.foundicongenclose-address-book:before {
  content: "\f025";
}

.foundicongenclose-compass:before {
  content: "\f026";
}

.foundicongenclose-flag:before {
  content: "\f027";
}

.foundicongenclose-location:before {
  content: "\f028";
}

.foundicongenclose-clock:before {
  content: "\f029";
}

.foundicongenclose-folder:before {
  content: "\f02a";
}

.foundicongenclose-inbox:before {
  content: "\f02b";
}

.foundicongenclose-website:before {
  content: "\f02c";
}

.foundicongenclose-smiley:before {
  content: "\f02d";
}

.foundicongenclose-search:before {
  content: "\f02e";
}
