/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundiconsol-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundiconsol-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundiconsol-thumb-up:before {
  content: "\f000";
}

.foundiconsol-thumb-down:before {
  content: "\f001";
}

.foundiconsol-rss:before {
  content: "\f002";
}

.foundiconsol-facebook:before {
  content: "\f003";
}

.foundiconsol-twitter:before {
  content: "\f004";
}

.foundiconsol-pinterest:before {
  content: "\f005";
}

.foundiconsol-github:before {
  content: "\f006";
}

.foundiconsol-path:before {
  content: "\f007";
}

.foundiconsol-linkedin:before {
  content: "\f008";
}

.foundiconsol-dribbble:before {
  content: "\f009";
}

.foundiconsol-stumble-upon:before {
  content: "\f00a";
}

.foundiconsol-behance:before {
  content: "\f00b";
}

.foundiconsol-reddit:before {
  content: "\f00c";
}

.foundiconsol-google-plus:before {
  content: "\f00d";
}

.foundiconsol-youtube:before {
  content: "\f00e";
}

.foundiconsol-vimeo:before {
  content: "\f00f";
}

.foundiconsol-flickr:before {
  content: "\f010";
}

.foundiconsol-slideshare:before {
  content: "\f011";
}

.foundiconsol-picassa:before {
  content: "\f012";
}

.foundiconsol-skype:before {
  content: "\f013";
}

.foundiconsol-steam:before {
  content: "\f014";
}

.foundiconsol-instagram:before {
  content: "\f015";
}

.foundiconsol-foursquare:before {
  content: "\f016";
}

.foundiconsol-delicious:before {
  content: "\f017";
}

.foundiconsol-chat:before {
  content: "\f018";
}

.foundiconsol-torso:before {
  content: "\f019";
}

.foundiconsol-tumblr:before {
  content: "\f01a";
}

.foundiconsol-video-chat:before {
  content: "\f01b";
}

.foundiconsol-digg:before {
  content: "\f01c";
}

.foundiconsol-wordpress:before {
  content: "\f01d";
}
