body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #FFFFFF;
	padding-top: 15px;
	font-size:14px;
	font-weight:100;
}

.top-bar ul li h1 a{
	font-family: 'supermarket', "serif";	
	color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;	
	color: #FFFFFF;
}

@font-face {
	font-family: 'supermarket';
	src: url('../fonts/supermarket.eot');
	src: url('../fonts/supermarket.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/supermarket.woff') format('woff'),
		 url('../fonts/supermarket.ttf') format('truetype'),
		url('../fonts/supermarket.svg#supermarket') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
/*
.row {min-width:100% !important;}
*/

.top-bar {
	font-family: 'supermarket', "serif";	
	background-color: #222222;
}

.top-bar ul{	
	background-color: #222222;
}

.top-bar ul.right li a{
	background-color: #222222;
	font-size:16px;
}

.top-bar ul.right li.active a{
	background-color: #222222;
	color: #FFFFFF;
	font-size:16px;
}

.top-bar ul.right li.active_election a{
	background-color: #A9E2F3;
	color: #000000;
	font-size:16px;
}

.top-bar ul.right li.active_education a{
	background-color: #D0F5A9;
	color: #000000;
	font-size:16px;
}

.top-bar ul.right li a:hover {
    background: #222222;      
    color: #FFFFFF;
}

/*
.fixed {
	height: 40px;
}
*/

.breadcrumbs {
	height: 0px;
}

.section-auto-sample-accordion {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}

.section-auto-sample-accordion > section.active > .title-sample a {
color: #333333;
font-size:18px;
padding-top:5px;
padding-left:10px;
padding-right:0px;
padding-bottom:0px;
}

.section-auto-sample-accordion > section > .title-sample a {
color: #333333;
font-size:18px;
padding-top:5px;
padding-left:10px;
padding-right:0px;
padding-bottom:0px;
}

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

option {
	font-family: 'supermarket', "serif";	
	color: black;
	font-size:14px;
	font-weight:100;
}

#wrap {
	min-height: 100%;
	background-color: #000000;
}

#main {
	overflow:auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -110px; /* negative value of footer height */
	height: 110px;
	clear:both;
	background-color: #222222;	
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

fieldset legend {
background: transparent;
}

u {    
    border-bottom: 1px dashed #000;
    text-decoration: none;
}

.font-helvetica {
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.font-lobster {
font-family: 'Lobster', cursive;
}

.font-smallest {
font-size:10px
}

.font-smaller {
font-size:12px
}

.font-small {
font-size:16px
}

.font-medium {
font-size:20px
}

.font-mediumlarge {
font-size:25px
}

.font-large {
font-size:30px
}

.font-xlarge {
font-size:50px
}

.font-light {
font-weight:100;
}

.font-light-200 {
font-weight:200;
}

.font-white {
color:white;
}
